dashboard/docs/n8n-workflows/02-patient-record-sync.json
{
  "name": "02 · Patient Record Sync (Post-Call)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ava-call-log",
        "options": { "rawBody": true },
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Retell Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Shares the same Retell webhook as the call logger. In n8n, multiple workflows can listen on the same webhook path — or use n8n's webhook trigger with routing."
    },
    {
      "parameters": {
        "conditions": {
          "and": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "call_analyzed",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "leftValue": "={{ $json.call.call_analysis?.call_summary?.toLowerCase().includes('book') || $json.call.call_analysis?.custom_analysis_data?.outcome === 'booked' }}",
              "rightValue": "true",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "filter-booked",
      "name": "Only booked calls",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Only proceed when a booking was made. Tweak the condition based on how your Retell agent signals a successful booking in the analysis data."
    },
    {
      "parameters": {
        "jsCode": "const call = $json.call;\nconst analysis = call.call_analysis ?? {};\nconst custom = analysis.custom_analysis_data ?? {};\n\nconst now = new Date().toISOString();\n\n// Build full name from split fields; fall back to legacy patientName if present\nconst firstName = custom.patientFirstName ?? '';\nconst lastName = custom.patientLastName ?? '';\nconst fullName = [firstName, lastName].filter(Boolean).join(' ') || custom.patientName || 'Unknown (via Ava)';\n\nreturn [{\n  clinicId: call.metadata?.clinicId ?? $env.RETELL_CLINIC_ID,\n  patientFirstName: firstName || null,\n  patientLastName: lastName || null,\n  patientName: fullName,\n  patientEmail: custom.patientEmail ?? null,\n  patientPhone: custom.patientPhone ?? call.from_number ?? null,\n  appointmentType: custom.appointmentType ?? 'initial_assessment',\n  appointmentDate: custom.appointmentDate ?? null,\n  appointmentTime: custom.appointmentTime ?? null,\n  clinicianName: custom.clinicianName ?? null,\n  insuranceFlag: custom.insurance_flag ?? false,\n  insurerName: custom.insurer ?? null,\n  callId: call.call_id,\n  callSummary: analysis.call_summary ?? null,\n  source: 'strydeos_receptionist',\n  createdAt: now,\n  updatedAt: now,\n}];"
      },
      "id": "extract-patient",
      "name": "Extract patient details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Extracts patient details from the Retell call analysis.\n\nFor best results, configure your Retell agent with a custom data collection schema:\n  patientName, patientEmail, appointmentType, insurance_flag, insurer\nThese appear in call.call_analysis.custom_analysis_data."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/pipeline/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CRON_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"clinicId\": \"{{ $json.clinicId }}\",\n  \"source\": \"receptionist\",\n  \"patientData\": {\n    \"firstName\": \"{{ $json.patientFirstName ?? '' }}\",\n    \"lastName\": \"{{ $json.patientLastName ?? '' }}\",\n    \"name\": \"{{ $json.patientName }}\",\n    \"email\": \"{{ $json.patientEmail }}\",\n    \"phone\": \"{{ $json.patientPhone }}\",\n    \"appointmentType\": \"{{ $json.appointmentType }}\",\n    \"appointmentDate\": \"{{ $json.appointmentDate ?? '' }}\",\n    \"appointmentTime\": \"{{ $json.appointmentTime ?? '' }}\",\n    \"clinicianName\": \"{{ $json.clinicianName ?? '' }}\",\n    \"insuranceFlag\": {{ $json.insuranceFlag }},\n    \"insurerName\": \"{{ $json.insurerName ?? '' }}\",\n    \"callId\": \"{{ $json.callId }}\",\n    \"source\": \"strydeos_receptionist\"\n  }\n}",
        "options": {}
      },
      "id": "create-patient",
      "name": "Upsert patient record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Posts to /api/pipeline/run on the StrydeOS app, which handles patient creation/update.\n\nRequired env vars:\n  APP_URL — your Vercel deployment URL (e.g. https://strydeos.vercel.app)\n  CRON_SECRET — shared secret for Bearer auth (same as CRON_SECRET in Vercel env vars)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}"
      },
      "id": "respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Retell Webhook": {
      "main": [[{ "node": "Only booked calls", "type": "main", "index": 0 }]]
    },
    "Only booked calls": {
      "main": [[{ "node": "Extract patient details", "type": "main", "index": 0 }]]
    },
    "Extract patient details": {
      "main": [[{ "node": "Upsert patient record", "type": "main", "index": 0 }]]
    },
    "Upsert patient record": {
      "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Creates or updates a patient record in Firestore when Ava books a new appointment.\n\nRequired env vars:\n  RETELL_CLINIC_ID — Firestore clinic document ID\n  APP_URL          — StrydeOS Vercel URL\n  CRON_SECRET      — Bearer auth secret (matches Vercel CRON_SECRET env var)\n\nRetell agent must extract the following fields into custom_analysis_data:\n  patientFirstName, patientLastName, patientEmail, patientPhone (confirmed full number),\n  appointmentType, appointmentDate, appointmentTime, clinicianName,\n  insurance_flag, insurer"
  }
}
